.searchbar {
  font-size: 1.05rem;
  color: var(--colortext);
  background: var(--colorelements);
  border: none;
  border-radius: 3px;
  padding: 1rem;
  box-shadow: var(--boxshadow);
}

#countrysearch {
  max-width: 25rem;
  padding-left: 3rem;
  background: 
    url("../Icons/search_black_24dp.svg") no-repeat scroll 1rem 1rem,
    var(--colorelements);
}

@media (max-width: 610px) {
  #countrysearch {
    max-width: 20rem;
  }
}